/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/**/*.js.map
/public/**/*.js
/public/**/*.json
/public/css/*.css
/public/css/*.css.map
/public/images/*.jpg
/package-lock.json
/.node_repl_history
/.node-gyp/
/.config/
/.npm/
.bash_history
.idea